<div class="vote-page fade-in">
  @if (loading()) {
  <div style="display:flex;justify-content:center;padding:80px"><mat-spinner diameter="48" /></div>
  } @else {
  <div class="page-header">
    <div class="header-left">
      <h1 class="page-title">Submit Your Vote</h1>
      <p class="page-subtitle">Answer all questions to submit</p>
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    @for (question of questions(); track question.id; let i = $index) {
    <div class="question-card sb-card">
      <h3 class="question-text">{{ i + 1 }}. {{ question.content }}</h3>
      <mat-radio-group [formControlName]="'q_' + question.id" class="answers-group">
        @for (answer of question.answers; track answer.id) {
        <mat-radio-button [value]="answer.id" class="answer-option" [id]="'answer-' + answer.id">
          {{ answer.content }}
        </mat-radio-button>
        }
      </mat-radio-group>
    </div>
    }

    <div class="submit-row">
      <button mat-raised-button color="primary" type="submit" id="submit-vote-btn"
        [disabled]="submitting() || form.invalid">
        @if (submitting()) {
        <mat-spinner diameter="20" />
        } 
        @else {
          <span><mat-icon>how_to_vote</mat-icon> Submit Vote</span>
        }
      </button>
    </div>
  </form>
  }
</div>